
body, html {
  height: 100%;
}
.jumbotron{
  margin:0;
  border-radius: 0;
  background-color: #bd007e;
}
h1{
  color:white;
  text-align: center;
}

table {
  margin-top: 15px;
  width: 100%;
  table-layout: fixed;
  word-break: break-word;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #9e9d9d;
  text-align: left;
  padding:2px!important;
}

 tr > td:nth-child(2){
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.clubInformation{
  position: relative;
  padding: 0!important;
  border-radius: 5px;
  margin: auto 0!important;
  border: 3px solid rgb(4, 57, 87);;
}
#headerConteiner{
  padding: 0 25px;
  height: 200px;
  width: 100%;
}
#clubImage{
  max-width: 150px;
  width: auto;
}
#infoContainer{
  text-align: center!important;
}
svg > g.y.axis > path,svg > g.y.axis > g> text{
  transform: translate(0px, -100px);
}
svg > g > rect{
  transform: translate(0px, -100px);
}
svg > g.x.axis > g > text{
  transform: translate(-25px, 45px) rotate(-45deg);
}
img{
  z-index: -1;
}
 g.y.axis > path , g.x.axis > path{
  stroke: black;
  fill: none;
  stroke-width: 1px;
}