
body, html {
  height: 100%;
}
.jumbotron{
  margin:0;
  border-radius: 0;
  background-color: #bd007e;
}
h1{
  color:white;
  text-align: center;
}

#button-wrapper{
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
button{
    margin: 5px;
}
#ukupneFinancije{
  margin: auto;
}
#ukupneFinancije > svg{
  height: 550px;
}
.uk { fill: #cad9dc; }

#karta{
  position: absolute;
  top:20%;
  z-index: -1;
}